html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" ,integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" ,crossorigin="anonymous")
    body
        .container
            form(action="/tranfer/create",method='POST')
                input(type='hidden', name='_csrf',value=csrfToken)
                .from-group.mb-3
                    label(for='acount') Acount
                    input#acount.form-control(type="text",name='name')
                .from-group.mb-3
                    label(for='numbers') Numbers
                    input#numbers.form-control(type="number",name='numbers')
                button.btn.btn-primary Tranfer

